<div class="grid-item grid-item--{{size}}" data-size="{{size}}">
    <div class="grid-item__content">
        <h1 class="grid-item__name">{{name}}</h1>
        <h2 class="grid-item__address">{{address}}<br>{{csz}}</h2>
        <p class="grid-item__description">{{description}}</p>
    </div>
</div>